*{
    font-family: Raleway, sans-serif;
    color: black;
    font-size: 16px;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: black;
    text-decoration: none;
}
.nav-link:hover{
    color:#6E9C9F !important;
    text-decoration: none;
    transition: 0.3s;
}
.nav-link.active{
    color: #6E9C9F !important;
    text-decoration: none;
}
.container{
    max-width: 1110px;
}

.header{
    height: 56px;;
}

.header-nav{
    margin-left: 9rem !important;
}

.logo-img{
    margin-right: 11px;
}

.logo-link{
    text-decoration: none;
    color: black;
}
.logo-link:hover {
    color: black;
    text-decoration: none;
}

.logo-text{
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.nav-link {
  color: black !important;
  text-decoration: none;
}
.icon-wrapper {
    cursor: pointer;
    display: flex;
    width: 27px;
    height: 27px;
    justify-content: center;
    align-items: center;
    transition: background 0.5s ease;
}

.icon-wrapper .icon-part {
    fill: #6E9C9F;
    transition: fill 0.5s ease;
}

.icon-wrapper:hover .icon-part {
    fill: white;
}

.icon-wrapper:hover {
    background: #6E9C9F;
}
.main{
    height: calc(100vh - 56px);
    max-height: 800px;
    overflow: hidden;
}

.header,
.main-wrapper {
    background: linear-gradient(to right, white 58%, #F0E6DD 58%);
}

.left-section-hero{
    margin-top: 12rem;
    padding: 0;
}

.hero-title{
    font-size: 55px;
    font-style: medium;
}
.hero-text{
    font-size: 20px;
    max-width: 385px;
    text-align:right;
}


.slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: opacity 0.9s, transform 0.9s;
  width: 100%;
}

.slide.active {
  position: static;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}


.btn{
    border-radius: 0%;
}

.buttons{
    margin-top: 2rem;
    margin-left: 4rem;
}

.down-arrow-button{
    width: 67px;
    height: 67px;
    background-color: rgba(110, 156, 159, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.down-arrow-icon{
    width: 14px;
    height: 28px;
    transition: transform 0.4s ease;
}

.down-arrow-button:hover .down-arrow-icon {
  transform: translateY(5px);
}

.shop-button{
    width: 243px;
    height: 68px;
    font-size: 17px;
    background-color: #6E9C9F;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.shop-button:hover{
    background-color: #509498;
    color: white;
    transition: 0.5s;
}

.slider-bar {
  width: 30px;
  height: 5px;
  background-color: #D1D1D1; /* Цвет неактивной полоски */
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.slider-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #000;
}

.slider-bar.active::before {
  animation: sliderProgress var(--interval) linear forwards;
}

@keyframes sliderProgress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}



.slider-controls{
    margin-top: 6rem;
    margin-left: 40%;
}

.right-section-hero {
    position: relative;
    height: calc(100vh - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 800px;
}
.right-section-hero__image_container {
    position: absolute;
    display: block;
}


/* Основное изображение */
.right-section-hero__image_container--main {    
    z-index: 2;
    right: 0;
    top : 2%;
    height: auto;
    width: auto;
}

/* Нижнее левое изображение */
.right-section-hero__image_container--bottom {
    z-index: 3;
    bottom: 0; 
    left: 25%; 
    transform: translateX(-50%);
}

/* Верхнее правое изображение */
.right-section-hero__image_container--top {
    z-index: 3;
    top: 15%; 
    right: 0;
    transform: translateX(50%);
}

.right-section-hero__image_container img {
    transition: transform 0.5s ease;
    width: 100%;
    height: auto;
    max-height: 100%;
    display: block;
    object-fit: cover;
}

.right-section-hero__image_container:hover img {
    transform: scale(1.1);
}


.section {
    padding-top: 7rem;
}

.section-title{
    font-size: 40;
    font-style: medium;
    margin-bottom: 4rem;
}

.shop-item__title{
    margin-top: 1.5rem;
    font-size: 1.3rem;
}

.shop-item{
    position: relative;
    overflow: hidden;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


.shop-item__price{
    font-size: 1rem;
    
}
.shop-item__price span{
    color: #998E78;
}
.shop-item__price .standard_price{
    display: none;
}

.shop-item__price.sale-active .standard_price {
    display: inline;
    text-decoration: line-through;
}

.shop-item__image-container {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.shop-item__link--image{
    display: block;
}
.shop-item__image {
  transition: all 0.5s ease; 
}
.shop-item__link--image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(110, 156, 159, 0.77); 
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 1;
}

.shop-item__arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: auto;
  opacity: 0; 
  transition: opacity 0.5s ease;
  z-index: 2;
}

.shop-item__link--image:hover .shop-item__image {
  transform: scale(1.1);
}

.shop-item__link--image:hover::before {
  opacity: 1;
}

.shop-item__link--image:hover .shop-item__arrow {
  opacity: 1;
}


.shop-item__link--title {
    position: relative;
    display: inline-block;
    text-decoration: none;
    transition: color 0.5s ease;
}

.shop-item__link--title .shop-item__title {
    color: black;
    transition: color 0.5s ease; 
    margin-bottom: 3px;
}

.shop-item__link--title:hover .shop-item__title {
    color: #6E9C9F;
}


.outline-shop-button{
    margin-top: 3rem;
    background: #fff;
    color: #6E9C9F;
    border: 1px solid #6E9C9F;
}

.outline-shop-button:hover{
    background: #6E9C9F;
    color: #fff;
    transition: 0.5s;
}


.important-for-us__icon{
    max-width: 61px;
    max-height: 61px;
    margin-bottom: 2rem;;

}

.important-for-us__subtitle{
    font-size: 25px;
    font-style: medium;
    margin-bottom: 1.5rem;
}

.important-for-us__text{
    font-size: 17px;
}

.dream-team__subtitle{
    font-size: 25px;
    font-style: medium;
    margin-bottom: 1.8rem;
}

.dream-team__text{
    font-size: 17px;
    margin-bottom: 2rem;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.dream-team__next,
.dream-team__prev {
  background: none;
  color: inherit;
  font-size: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  z-index: 10;
}

.dream-team__prev svg,
.dream-team__next svg {
  transition: transform 0.5s ease;
}

.dream-team__prev:hover svg,
.dream-team__next:hover svg {
  transform: scale(1.1);
}

.dream-team__pagination {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 20px;
}


.dream-team__pagination .swiper-pagination-bullet {
  width: 30px;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  opacity: 1;
  position: relative;
  overflow: hidden;
}


.dream-team__pagination .swiper-pagination-bullet-active {
    background-color: #000;
}

.dream-team__about-link{
    margin-top: 3rem;
    color: #6E9C9F;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    font-size: 17px;
}
.dream-team__about-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 1px;
  background-color: #CEDEDF;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.dream-team__about-link:hover{
    color: #6E9C9F;
}
.dream-team__about-link:hover::after {
  opacity: 1;
}


.footer{
    margin-top: 8rem;
    padding: 5rem 0;
    min-height: 363px;
    background-color: #F1EADC;

}



.footer__legal{
    font-size: 13px;
    margin-bottom: 6px;
}

.footer__logo{
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
}

.footer__nav-shop{
    display: flex;
    flex-direction: column;
}
.footer__nav-sublist{
    list-style-type: none;
    padding: 0;
}

.footer__nav-sublink{
    font-size: 13px;
    transition: all 0.5s ease;
}
.footer__nav-sublist{
    margin-top: 1.5rem;
}

.footer__nav-sublink:hover{
    color: #6E9C9F;
    text-decoration: none;
    
}


.footer__contacts-phone-and-email a{
    font-size: 15px;
}

.footer__contacts-social{
    margin-top: 30px;
}
.footer__contacts-icon{
    width: 22px;
    height: 22px;
    transition: all 0.5s ease;
}
.footer__contacts-icon{
    font-size: 22px;
    margin-left: 12px;
    transition: all 0.5s ease;
}
.footer__contacts-icon:hover{
    color: #6E9C9F;
    
}

.footer__contacts-visa{
    margin-top: 2rem;
}


