*{
    font-family: Raleway, sans-serif;
    color: black;
    font-size: 16px;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: black;
    text-decoration: none;
}
.nav-link:hover{
    color:#6E9C9F !important;
    text-decoration: none;
    transition: 0.3s;
}
.container{
    max-width: 1110px;
}

.header{
    height: 56px;;
}

.navbar-nav{
    margin-left: 9rem !important;
}

.logo-img{
    margin-right: 11px;
}

.logo-link{
    text-decoration: none;
    color: black;
}
.logo-link:hover {
    color: black;
    text-decoration: none;
}

.logo-text{
    letter-spacing: 0.1em;
}

.nav-link {
  color: black !important;
  text-decoration: none;
}
.icon-wrapper {
    cursor: pointer;
    display: flex;
    width: 27px;
    height: 27px;
    justify-content: center;
    align-items: center;
    transition: background 0.5s ease;
}

.icon-wrapper .icon-part {
    fill: #6E9C9F;
    transition: fill 0.5s ease;
}

.icon-wrapper:hover .icon-part {
    fill: white;
}

.icon-wrapper:hover {
    background: #6E9C9F;
}
.main{
    height: calc(100vh - 56px);
}

.header,
.main-wrapper {
    background: linear-gradient(to right, white 58%, #F0E6DD 58%);
}

.left-section-hero{
    margin-top: 12rem;
    padding: 0;
}

.hero-title{
    font-size: 55px;
    font-style: medium;
}
.hero-text{
    font-size: 20px;
    max-width: 385px;
    text-align:right;
}


.slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: opacity 0.9s, transform 0.9s;
  width: 100%;
}

.slide.active {
  position: static;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}


.btn{
    border-radius: 0%;
}

.buttons{
    margin-top: 2rem;
    margin-left: 4rem;
}

.down-arrow-button{
    width: 67px;
    height: 67px;
    background-color: rgba(110, 156, 159, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.down-arrow-icon{
    width: 14px;
    height: 28px;
    transition: transform 0.4s ease;
}

.down-arrow-button:hover .down-arrow-icon {
  transform: translateY(5px);
}

.shop-button{
    width: 243px;
    height: 68px;
    font-size: 17px;
    background-color: #6E9C9F;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.shop-button:hover{
    background-color: #509498;
    color: white;
    transition: 0.5s;
}

.slider-bar {
  width: 30px;
  height: 5px;
  background-color: #D1D1D1; /* Цвет неактивной полоски */
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.slider-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #000;
}

.slider-bar.active::before {
  animation: sliderProgress var(--interval) linear forwards;
}

@keyframes sliderProgress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}



.slider-controls{
    margin-top: 6rem;
    margin-left: 40%;
}


.right-section-hero {
    position: relative;
    height: calc(100vh - 56px);;
}

.right-section-hero__image_container {
    position: absolute;
    overflow:hidden;
}



.right-section-hero__image_container:nth-child(1) {
    max-width: 190px;
    max-height: 318px;
    bottom: 0; 
    left: 3%; 
    z-index: 1;
}

.right-section-hero__image_container:nth-child(2) {
    top: 5%;
    right: 0;
    max-width:410px;
    max-height:646px;
    z-index: 0;
}

.right-section-hero__image_container:nth-child(3) {
    max-width: 197px;
    max-height: 197px;
    top: 20%;
    right: -20%;
    z-index: 1;
}


.right-section-hero__image_container img {
    transition: transform 0.5s ease;
}

.right-section-hero__image_container:hover img {
    transform: scale(1.1);
}


.new-collection__section {
    padding-top: 7rem;
}

.section-title{
    font-size: 40;
    font-style: medium;
    margin-bottom: 4rem;
}

.shop-item__title{
    margin-top: 1.5rem;
    font-size: 1.3rem;
}

.shop-item{
    position: relative;
    overflow: hidden;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


.shop-item__price{
    font-size: 1rem;
    
}
.shop-item__price span{
    color: #998E78;
}
.shop-item__price .standard_price{
    display: none;
}

.shop-item__price.sale-active .standard_price {
    display: inline;
    text-decoration: line-through;
}

.shop-item__image-container {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.shop-item__image {
  transition: all 0.5s ease; 
}
.shop-item__image-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(110, 156, 159, 0.77); 
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 1;
}

.shop-item__arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: auto;
  opacity: 0; 
  transition: opacity 0.5s ease;
  z-index: 2;
}

.shop-item__image-container:hover .shop-item__image {
  transform: scale(1.1);
}

.shop-item__image-container:hover::before {
  opacity: 1;
}

.shop-item__image-container:hover .shop-item__arrow {
  opacity: 1;
}


.outline-shop-button{
    margin-top: 3rem;
    background: #fff;
    color: #6E9C9F;
    border: 1px solid #6E9C9F;
}

.outline-shop-button:hover{
    background: #6E9C9F;
    color: #fff;
    transition: 0.5s;
}