{% extends 'base.html' %}
{% block title %}О бренде{% endblock title %}
{% load static %}

{% block content %}
<section class="section page-hero">
        <div class="container">
            <h1 class="section-title page-hero__title">О бренде</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">О бренде</li>
                </ol>
            </nav>
        </div>
    </section>

    <section class="section about">
        <div class="container">
            <div class="row">
                <div class="col-6 about__image-block about__image-block--left">
                    <img src="{% static 'img/about-img1.png' %}" alt="" class="about__img img-fluid">
                </div>
                <div class="col-6 about__text-block">
                    <h3 class="about__subtitle">
                        Идея и женщина
                    </h3>
                    <div class="about__par-block">
                        <p class="about__text">
                            Womazing была основана в 2010-ом и стала одной из самых успешных компаний нашей страны. Как и многие итальянские фирмы, Womazing остаётся семейной компанией, хотя ни один из членов семьи не является модельером.
                        </p>
                        <p class="about__text">
                            Мы действуем по успешной формуле, прибегая к услугам известных модельеров для создания своих коллекций. Этот метод был описан критиком моды Колином Макдауэллом как форма дизайнерского со-творчества, характерная для ряда итальянских prêt-a-porter компаний. 
                        </p>
                    </div>
                </div>  
            </div>
            <div class="row">

                <div class="col-6 about__text-block">
                    <h3 class="about__subtitle">
                        Магия в деталях
                    </h3>
                    <div class="about__par-block">
                        <p class="about__text">
                            Первый магазин Womazing был открыт в маленьком городке на севере страны в 2010-ом году. Первая коллекция состояла из двух пальто и костюма, которые были копиями парижских моделей.
                        </p>
                        <p class="about__text">
                            Несмотря на то, что по образованию основательница была адвокатом, ее семья всегда была тесно связана с шитьём (прабабушка основательницы шила одежду для женщин, а мать основала профессиональную школу кроя и шитья). Стремление производить одежду для масс несло в себе большие перспективы, особенно в то время, когда высокая мода по-прежнему доминировала, а рынка качественного prêt-a-porter попросту не существовало. 
                        </p>
                    </div>
                </div>  
                <div class="col-6 about__image-block about__image-block--right">
                    <img src="{% static 'img/about-img2.png' %}" alt="" class="about__img img-fluid">
                </div>
            </div>
            <div class="about__button">
                <a href="shop.html" class="btn shop-button">Перейти в магазин</a>
            </div>
        </div>
    </section>
{% endblock content %}