{% extends "base.html" %}
{% block title %}Контакты{% endblock title %}
{% load static %}

{% block content %}
<section class="section page-hero">
        <div class="container">
            <h1 class="section-title page-hero__title">Контакты</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Контакты</li>
                </ol>
            </nav>
        </div>
    </section>


    <section class="section contacts">
        <div class="container">
            <div class="map-container">
                <div style="position:relative;overflow:hidden;"><a href="https://yandex.com/maps/213/moscow/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Москва</a><a href="https://yandex.com/maps/213/moscow/house/ulitsa_timura_frunze_11/Z04Ycw9mQEIBQFtvfXtydH9qbA==/?ll=37.596454%2C55.736966&utm_medium=mapframe&utm_source=maps&z=13.75" style="color:#eee;font-size:12px;position:absolute;top:14px;">Улица Тимура Фрунзе, 11 — Яндекс Карты</a><iframe src="https://yandex.com/map-widget/v1/?ll=37.596454%2C55.736966&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgoxNTY3ODA2ODUyEkTQoNC-0YHRgdC40Y8sINCc0L7RgdC60LLQsCwg0YPQu9C40YbQsCDQotC40LzRg9GA0LAg0KTRgNGD0L3Qt9C1LCAxMSIKDRFZFkIVDPFeQg%2C%2C&z=13.75" width="1100" height="476" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
            </div>
            <div class="contacts__container">
                <div class="contacts__block">
                    <p class="contacts__name">Телефон</p>
                    <p class="contacts__text">+7 (495) 823-54-12</p>
                </div>
                <div class="contacts__block">
                    <p class="contacts__name">E-mail</p>
                    <p class="contacts__text">hello@womazing.com</p>
                </div>
                <div class="contacts__block">
                    <p class="contacts__name">Адрес</p>
                    <p class="contacts__text">г. Москва, улица Тимура Фрунзе, 11</p>
                </div>
            </div>
            <div class="contacts__text-us">
                <h3 class="contacts__text-us-title">
                    Напишите нам
                </h3>
                <form class="contacts__form form">
                <div class="form-field contacts__form-field">
                    <input type="text" name="name" class="form-input" placeholder=" " required>
                    <label class="form-label">Имя</label>
                </div>
                <div class="form-field contacts__form-field">
                    <input type="email" name="email" class="form-input" placeholder=" " required>
                    <label class="form-label">E-mail</label>
                </div>
                <div class="form-field contacts__form-field">
                    <input type="tel" name="phone" class="form-input" placeholder=" " title="+7 (999) 123-45-67" required>
                    <label class="form-label">Телефон</label>
                </div>
                <div class="form-field contacts__form-field contacts__form-field--message">
                    <textarea name="message" class="form-input" placeholder=" " required></textarea>
                    <label class="form-label">Сообщение</label>
                </div>
                <button type="submit" class="btn shop-button contacts__submit">Отправить</button>
                </form>
                <div class="contacts__success-message">
                    <p class="contacts__success-text">
                        Сообщение успешно отправлено
                    </p>
                </div>
            </div>
    </section>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/phone_mask.js' %}" type="module"></script>

    <script src="{% static 'js/popup.js' %}" type="module"></script>
{% endblock extra_js %}
