{% load static%}
<footer class="footer">
        <div class="container">

            <div class="row">
                <div class="col-3 footer__info">
                    <a href="#" class="navbar-brand footer__logo">
                    <img src="{% static 'img/logo.svg' %}" alt="Logo" class="logo-img me-2">
                    <span class="logo-text">Womazing</span>
                </a>
                    <p class="footer__legal">© Все права защищены</p>
                    <p class="footer__legal">Политика конфиденциальности</p>
                    <p class="footer__legal">Публичная оферта</p>
                </div>
                <div class="col-5 footer__nav">
                    <ul class="footer__nav-list navbar-nav d-flex flex-row gap-4">
                    <li class="footer__nav-item nav-item">
                        <a class="footer__nav-link nav-link main-page {% if request.resolver_match.url_name == 'home' %}active{% endif %}" href="{% url 'pages:home' %}">Главная</a>
                    </li>
                    <li class="footer__nav-item nav-item">
                        <div class="footer__nav-shop">
                            <a class="footer__nav-link nav-link shop-page {% if request.resolver_match.url_name == 'catalog' %}active{% endif %}" href="{% url 'catalog:catalog' %}">Магазин</a>
                            <ul class="footer__nav-sublist">
                                <li><a href="#" class ="footer__nav-sublink">Пальто</a></li>
                                <li><a href="#" class ="footer__nav-sublink">Свитшоты</a></li>
                                <li><a href="#" class ="footer__nav-sublink">Кардиганы</a></li>
                                <li><a href="#" class ="footer__nav-sublink">Толстовки</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="footer__nav-item nav-item">
                        <a class="footer__nav-link nav-link brand-page {% if request.resolver_match.url_name == 'about' %}active{% endif %}" href="{% url 'pages:about' %}">О бренде</a>
                    </li>
                    <li class="footer__nav-item nav-item">
                        <a class="footer__nav-link nav-link contacts-page {% if request.resolver_match.url_name == 'contact' %}active{% endif %}" href="{% url 'pages:contact' %}">Контакты</a>
                    </li>
                </ul>
                </div>

                <div class="offset-2 col-2 footer__contacts">
                    <div class="footer__contacts-phone-and-email">
                        <a href="tel:+74958235412" class="footer__contacts-phone">+7 (495) 823-54-12</a>
                        <a href="mailto:info@womazing.ru" class="footer__contacts-email">info@womazing.ru</a>
                    </div>
                    <div class="footer__contacts-social">
                        <a href="#" class="footer__contacts-link ms-0">
                          <i class="fab fa-instagram footer__contacts-icon "></i>
                        </a>
                        <a href="#" class="footer__contacts-link">
                            <i class="fab fa-facebook footer__contacts-icon"></i>
                        </a>
                        <a href="#" class="footer__contacts-link">
                            <i class="fab fa-twitter footer__contacts-icon"></i>
                        </a>

                    </div>
                    <div class="footer__contacts-visa">
                        <img src="{% static 'img/visa.png' %}" alt="" class="footer__contacts-visa-img">
                    </div>
                </div>

            </div>

        </div>
    </footer>