{% extends 'base.html' %}

{% load static %}
{% load thumbnail %}
{% block title %}Корзина{% endblock title %}

{% block content %}
<section class="section page-hero">
    <div class="container">
        <h1 class="section-title page-hero__title">Корзина</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Корзина</li>
            </ol>
        </nav>
    </div>
</section>

<section class="section cart">
    <div class="container">
        <div class="row">
            <div class="col-5">
                <h4 class="cart__header">
                    Товар
                </h4>
            </div>
            <div class="col-2">
                <h4 class="cart__header">
                    Цена
                </h4>
            </div>
            <div class="col-3">
                <h4 class="cart__header">
                    Количество
                </h4>
            </div>
            <div class="col-2">
                <h4 class="cart__header">
                    Всего
                </h4>
            </div>
        </div>
        <hr>
        {% for item in cart %}
        <div class="row cart__item">
            <div class="col-5 cart__product">
                <a href="{% url 'cart:cart_remove' item.product.id %}" class="btn cart__product-remove-btn">×</a>
                <a href="{% url 'catalog:product_detail' item.product.product.slug %}" class="cart__product-link">
                    {% thumbnail item.product.image "135x205" crop="center" as im %}
                        <img src="{{ im.url }}"
                            width="{{ im.width }}"
                            height="{{ im.height }}"
                            alt="{{ item.product.product.name }}" class="cart__product-image">
                    {% endthumbnail %}
                </a>
                <a href="{% url 'catalog:product_detail' item.product.product.slug %}" class="cart__product-link">
                <p class="cart__product-name">{{ item.product.product.name }}</p>
                </a>
            </div>
            <div class="col-2 cart__price">
                <p class="cart__price-value">${{ item.price }}</p>
            </div>

                <div class="col-3 cart__quantity">
                    <form method="post" action="{% url 'cart:cart_update' item.product.id %}">
                        {% csrf_token %}
                    <div class="product-card__quantity-wrapper">
                        <button class="product-card__quantity-btn product-card__quantity-btn--minus">−</button>
                        <input type="number" name="quantity" class="product-card__quantity-input" value="{{ item.quantity }}" min="1">
                        <button class="product-card__quantity-btn product-card__quantity-btn--plus">+</button>
                    </div>
                    <button type="submit" hidden></button>
                    </form>
                </div>
            
            <div class="col-2 cart__total">
                <p class="cart__total-value">${{ item.total_price }}</p>
            </div>
            
        </div>
        {% endfor %}
        <div class="row">
            <div class="col-6 coupon">
                <div class="form-field m-0">
                    <input type="text" name="coupon" class="form-input" placeholder=" " required>
                    <label class="form-label">Введите купон</label>
                </div>
                <a href="#" class="btn outline-shop-button coupon__button">Применить купон</a>
            </div>
            <div class="col-6 update-cart">
                <a href="#" class="btn outline-shop-button update-cart__button">Обновить корзину</a>
            </div>
        </div>
        <div class="row presummary">
            <div class="offset-6 col-2">
                <p class="presummary__text">Подытог: {{ cart.get_total_price }}</p>
            </div>
        </div>
        <div class="row ">
            <div class="offset-6 col-6 summary">
                <p class="summary__text"><span class="summary__span">Итого:</span> <span class="summary__sum">{{ cart.get_total_price }}</span></p>
                <a href="{% url 'orders:checkout' %}" class="btn shop-button summary__button">Оформить заказ</a>
            </div>
            
        </div>
        
    </div>
</section>

{% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/cart_quantity_update.js' %}"></script>
{% endblock extra_js %}
    